<div id="subjectTitle">
    <h2 id="subjectTitleText">
        {{ subjectTitle }}
    </h2>
</div>
<div id="subject">
    <h3 id="subjectText">
        {{ subject }}
    </h3>
</div>

<div class="paper">
    <p>
        <b>Title: </b>
        <a class="paper_title" href="{{ entry.link }}">
            {{ paper_title }}
        </a>
    </p>

    <p class="tag">
        <b>Tags: </b>
        {{ tags_html }}
        {{ version_html }}
    </p>

    <p class="authors">
        <b>Authors: </b>
        {{ authors_html }}
    </p>

    <p class="abstract">
        <b>Abstract: </b>
        {{ abstract }}
    </p>

    <hr>

</div>